[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "External/bx"]
	path = External/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "External/bimg"]
	path = External/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "External/bgfx"]
	path = External/bgfx
	url = https://github.com/JeppeNielsen/bgfx.git
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
[submodule "External/segvcatch"]
	path = External/segvcatch
	url = https://github.com/Plaristote/segvcatch.git
[submodule "External/glm"]
	path = External/glm
	url = https://github.com/JeppeNielsen/glm.git
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb.git
[submodule "External/imgui"]
	path = External/imgui
	url = https://github.com/ocornut/imgui.git
	branch = docking
[submodule "External/sdl"]
	path = External/sdl
	url = https://github.com/libsdl-org/SDL.git
