[submodule "External/sdl"]
	path = External/sdl
	url = https://github.com/JeppeNielsen/SDL.git
[submodule "External/googletest"]
	path = External/googletest
	url = https://github.com/google/googletest.git
[submodule "External/bx"]
	path = External/bx
	url = https://github.com/bkaradzic/bx.git
[submodule "External/bimg"]
	path = External/bimg
	url = https://github.com/bkaradzic/bimg.git
[submodule "External/bgfx"]
	path = External/bgfx
	url = https://github.com/JeppeNielsen/bgfx.git
[submodule "External/entt"]
	path = External/entt
	url = https://github.com/skypjack/entt.git
